#create a CI

name: CI

on:
  push:
    branches: [ci]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11.6"]

    steps:
    - name: Check out code  
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }} 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e '.[dev]'

    - name: Run pytest
      run: |
        pytest life_expectancy --cov

    - name: Run pylint
      run: |
        pylint life_expectancy
